<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
<h1>How to do with vanila JS?</h1>
<input type="text" id="text">

<span>Text value:</span> <span id="textValue"></span>

<h1>With angular</h1>
<div ng-controller="Controller">
    <input type="text" ng-model="asdfadfas">

    <input type="checkbox" ng-model="checkValue">
    <span>Text value:</span>
</div>

<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="con1.js"></script>
</body>
</html>